{% extends "base.html" %} {% block content %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-between"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    
    <h1>Courses</h1>
    <ul class="list-group">
      {% set enrolled_course_ids = [] %} {% for enrollment in
      current_user.enrollments %} {% do
      enrolled_course_ids.append(enrollment.course_id) %} {% endfor %} {% for course
      in courses %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if current_user.has_role('Student') %} {{ course.name }} {% if course.id
        in enrolled_course_ids %}
        <!-- Button disabled if already enrolled -->
        <button class="btn btn-secondary btn-sm" disabled>Enrolled</button>
        {% else %}
        <!-- Active enroll button if not enrolled -->
        <a
          href="{{ url_for('enroll', course_id=course.id) }}"
          class="btn btn-primary btn-sm"
          >Enroll</a
        >
        {% endif %} {% else %}
        <!-- Hyperlink the course name for non-students -->
        <a href="{{ url_for('course_details', course_id=course.id) }}"
          >{{ course.name }}</a
        >
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    
    <a href="{{ url_for('index') }}" class="">Dashboard</a>
    {% if current_user.has_role('Admin') %}
    <a href="{{ url_for('create_course') }}" class="btn btn-success"
      >Create New Course</a
    >
    {% endif %} {% endblock %}